<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blueslime1.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,252},{69,49}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{69,49}}</string>
                <key>sourceSize</key>
                <string>{75,87}</string>
            </dict>
            <key>blueslime10.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,252},{69,49}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{69,49}}</string>
                <key>sourceSize</key>
                <string>{75,87}</string>
            </dict>
            <key>blueslime11.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{69,67}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{69,67}}</string>
                <key>sourceSize</key>
                <string>{75,87}</string>
            </dict>
            <key>blueslime12.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,361},{63,65}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{63,65}}</string>
                <key>sourceSize</key>
                <string>{75,87}</string>
            </dict>
            <key>blueslime13.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,361},{57,63}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{57,63}}</string>
                <key>sourceSize</key>
                <string>{75,87}</string>
            </dict>
            <key>blueslime14.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,499},{49,57}}</string>
                <key>offset</key>
                <string>{-13,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{49,57}}</string>
                <key>sourceSize</key>
                <string>{75,87}</string>
            </dict>
            <key>blueslime15.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,115},{31,45}}</string>
                <key>offset</key>
                <string>{-13,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,42},{31,45}}</string>
                <key>sourceSize</key>
                <string>{75,87}</string>
            </dict>
            <key>blueslime2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,131},{75,49}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{75,49}}</string>
                <key>sourceSize</key>
                <string>{75,87}</string>
            </dict>
            <key>blueslime3.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,363},{63,51}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{63,51}}</string>
                <key>sourceSize</key>
                <string>{75,87}</string>
            </dict>
            <key>blueslime4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{75,51}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{75,51}}</string>
                <key>sourceSize</key>
                <string>{75,87}</string>
            </dict>
            <key>blueslime5.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,355},{63,57}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{63,57}}</string>
                <key>sourceSize</key>
                <string>{75,87}</string>
            </dict>
            <key>blueslime6.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,523},{59,61}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{59,61}}</string>
                <key>sourceSize</key>
                <string>{75,87}</string>
            </dict>
            <key>blueslime7.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,255},{67,67}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{67,67}}</string>
                <key>sourceSize</key>
                <string>{75,87}</string>
            </dict>
            <key>blueslime8.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{69,87}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,87}}</string>
                <key>sourceSize</key>
                <string>{75,87}</string>
            </dict>
            <key>blueslime9.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,73},{61,75}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{61,75}}</string>
                <key>sourceSize</key>
                <string>{75,87}</string>
            </dict>
            <key>devilslime1.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,242},{69,50}}</string>
                <key>offset</key>
                <string>{-12,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{69,50}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>devilslime10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{67,46}}</string>
                <key>offset</key>
                <string>{-13,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{67,46}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>devilslime11.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,184},{69,66}}</string>
                <key>offset</key>
                <string>{-12,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{69,66}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>devilslime12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{63,66}}</string>
                <key>offset</key>
                <string>{-15,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{63,66}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>devilslime13.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,302},{57,64}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{57,64}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>devilslime14.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,488},{49,58}}</string>
                <key>offset</key>
                <string>{-22,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{49,58}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>devilslime15.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,208},{31,44}}</string>
                <key>offset</key>
                <string>{-15,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,62},{31,44}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>devilslime2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,73},{75,50}}</string>
                <key>offset</key>
                <string>{-9,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{75,50}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>devilslime3.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,414},{63,50}}</string>
                <key>offset</key>
                <string>{-15,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{63,50}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>devilslime4.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,136},{75,52}}</string>
                <key>offset</key>
                <string>{-9,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{75,52}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>devilslime5.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,441},{63,56}}</string>
                <key>offset</key>
                <string>{-15,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{63,56}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>devilslime6.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,425},{59,62}}</string>
                <key>offset</key>
                <string>{-17,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{59,62}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>devilslime7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{67,68}}</string>
                <key>offset</key>
                <string>{-13,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{67,68}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>devilslime8.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{69,88}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{69,88}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>devilslime9.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,68},{61,76}}</string>
                <key>offset</key>
                <string>{-16,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{61,76}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>goldenslime1.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,190},{69,50}}</string>
                <key>offset</key>
                <string>{-12,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{69,50}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>goldenslime10.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,296},{65,46}}</string>
                <key>offset</key>
                <string>{-14,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,60},{65,46}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>goldenslime11.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,182},{69,66}}</string>
                <key>offset</key>
                <string>{-12,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{69,66}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>goldenslime12.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,324},{63,66}}</string>
                <key>offset</key>
                <string>{-15,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{63,66}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>goldenslime13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{57,64}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{57,64}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>goldenslime14.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,484},{49,58}}</string>
                <key>offset</key>
                <string>{-22,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{49,58}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>goldenslime15.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,162},{31,44}}</string>
                <key>offset</key>
                <string>{-15,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,62},{31,44}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>goldenslime2.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,73},{75,50}}</string>
                <key>offset</key>
                <string>{-9,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{75,50}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>goldenslime3.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,363},{63,50}}</string>
                <key>offset</key>
                <string>{-15,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,56},{63,50}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>goldenslime4.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,130},{75,52}}</string>
                <key>offset</key>
                <string>{-9,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{75,52}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>goldenslime5.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,426},{63,56}}</string>
                <key>offset</key>
                <string>{-15,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{63,56}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>goldenslime6.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,416},{59,62}}</string>
                <key>offset</key>
                <string>{-17,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{59,62}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>goldenslime7.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,294},{67,68}}</string>
                <key>offset</key>
                <string>{-13,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{67,68}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>goldenslime8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,88}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{69,88}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>goldenslime9.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,67},{61,76}}</string>
                <key>offset</key>
                <string>{-16,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{61,76}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>greenslime1.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,303},{64,50}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{64,50}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>greenslime10.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,551},{60,46}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{60,46}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>greenslime11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{64,66}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{64,66}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>greenslime12.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,420},{62,60}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{62,60}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>greenslime13.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,533},{56,60}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{56,60}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>greenslime14.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,535},{50,54}}</string>
                <key>offset</key>
                <string>{-10,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{50,54}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>greenslime15.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,73},{32,40}}</string>
                <key>offset</key>
                <string>{-5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,44},{32,40}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>greenslime2.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,179},{70,50}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{70,50}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>greenslime3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,428},{58,50}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{58,50}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>greenslime4.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,125},{70,52}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{70,52}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>greenslime5.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,477},{62,54}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{62,54}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>greenslime6.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,482},{54,62}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{54,62}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>greenslime7.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,189},{64,68}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{64,68}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>greenslime8.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{64,84}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,84}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>greenslime9.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,125},{62,72}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{62,72}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>hybridslime1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,389},{65,50}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{65,50}}</string>
                <key>sourceSize</key>
                <string>{69,84}</string>
            </dict>
            <key>hybridslime10.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,389},{65,50}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{65,50}}</string>
                <key>sourceSize</key>
                <string>{69,84}</string>
            </dict>
            <key>hybridslime11.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,296},{63,66}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{63,66}}</string>
                <key>sourceSize</key>
                <string>{69,84}</string>
            </dict>
            <key>hybridslime12.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,489},{61,60}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{61,60}}</string>
                <key>sourceSize</key>
                <string>{69,84}</string>
            </dict>
            <key>hybridslime13.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,363},{57,60}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{57,60}}</string>
                <key>sourceSize</key>
                <string>{69,84}</string>
            </dict>
            <key>hybridslime14.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,550},{49,54}}</string>
                <key>offset</key>
                <string>{-10,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{49,54}}</string>
                <key>sourceSize</key>
                <string>{69,84}</string>
            </dict>
            <key>hybridslime15.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,190},{31,40}}</string>
                <key>offset</key>
                <string>{-8,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,44},{31,40}}</string>
                <key>sourceSize</key>
                <string>{69,84}</string>
            </dict>
            <key>hybridslime2.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,250},{69,50}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{69,50}}</string>
                <key>sourceSize</key>
                <string>{69,84}</string>
            </dict>
            <key>hybridslime3.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,538},{57,50}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{57,50}}</string>
                <key>sourceSize</key>
                <string>{69,84}</string>
            </dict>
            <key>hybridslime4.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,250},{69,50}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{69,50}}</string>
                <key>sourceSize</key>
                <string>{69,84}</string>
            </dict>
            <key>hybridslime5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{63,54}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{63,54}}</string>
                <key>sourceSize</key>
                <string>{69,84}</string>
            </dict>
            <key>hybridslime6.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,466},{55,62}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{55,62}}</string>
                <key>sourceSize</key>
                <string>{69,84}</string>
            </dict>
            <key>hybridslime7.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,231},{63,68}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{63,68}}</string>
                <key>sourceSize</key>
                <string>{69,84}</string>
            </dict>
            <key>hybridslime8.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{63,84}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,84}}</string>
                <key>sourceSize</key>
                <string>{69,84}</string>
            </dict>
            <key>hybridslime9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{61,72}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{61,72}}</string>
                <key>sourceSize</key>
                <string>{69,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slime.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f0a1adf81c43cb6a4e873b3982bf8bc:1/1$</string>
            <key>textureFileName</key>
            <string>slime.png</string>
        </dict>
    </dict>
</plist>
